name: Python Tests for Square

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [3.11]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest

    - name: Run tests
      shell: bash
      run: |
        if [ "$RUNNER_OS" = "Windows" ]; then
            set PYTHONPATH=. && pytest tests/test_square.py
        else
            PYTHONPATH=. pytest tests/test_square.py
        fi
